<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34645164430-aqvkon8lnvdnkbf96vntppsd2p3t5grm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34645164430-aqvkon8lnvdnkbf96vntppsd2p3t5grm</string>
	<key>API_KEY</key>
	<string>AIzaSyCgPpxnxD_Y-x0JIp7iVqugcqa6dUhV7TM</string>
	<key>GCM_SENDER_ID</key>
	<string>34645164430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.art.station.sa</string>
	<key>PROJECT_ID</key>
	<string>art-station-7aa96</string>
	<key>STORAGE_BUCKET</key>
	<string>art-station-7aa96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34645164430:ios:67d75341abc7e020c6e4df</string>
</dict>
</plist>